@model DataAccess.Models.AboutModel

@Html.HiddenFor(model => model.Id)

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <strong style="font-size: 16px">Welcome to Downy Shoes</strong>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label class="control-label">Description</label>
                                </div>
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "k-textbox", style = "width: 80%" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label class="control-label">Image</label>
                                </div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.WelcomeImagePath, new { htmlAttributes = new { @class = "k-textbox", style = "width: 80%" } })
                                    <a id="btnSelectWelcomeImage" href="#">Select image</a>
                                    @Html.ValidationMessageFor(model => model.WelcomeImagePath, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group">
            <strong style="font-size: 16px">Who we are?</strong>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2">
                                <label class="control-label">Shop information</label>
                            </div>
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Information, new { htmlAttributes = new { @class = "k-textbox", style = "width: 80%" } })
                                @Html.ValidationMessageFor(model => model.Information, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label class="control-label">Quanlity</label>
                            </div>
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Quality, new { htmlAttributes = new { @class = "k-textbox", style = "width: 80%" } })
                                @Html.ValidationMessageFor(model => model.Quality, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label class="control-label">Service</label>
                            </div>
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Service, new { htmlAttributes = new { @class = "k-textbox", style = "width: 80%" } })
                                @Html.ValidationMessageFor(model => model.Service, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label class="control-label">Support</label>
                            </div>
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Support, new { htmlAttributes = new { @class = "k-textbox", style = "width: 80%" } })
                                @Html.ValidationMessageFor(model => model.Support, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label class="control-label">Image</label>
                            </div>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.WhoWeAreImagePath, new { htmlAttributes = new { @class = "k-textbox", style = "width: 80%" } })
                                <a id="btnSelectWhoWeAreImage" href="#">Chọn ảnh</a>
                                @Html.ValidationMessageFor(model => model.WhoWeAreImagePath, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $("#btnSelectWelcomeImage").on('click',
            function(e) {
                e.preventDefault();
                var finder = new CKFinder();
                finder.selectActionFunction = function(url) {
                    $("#@Html.IdFor(model => model.WelcomeImagePath)").val(url);
                };
                finder.popup();
            });
        $("#btnSelectWhoWeAreImage").on('click',
            function(e) {
                e.preventDefault();
                var finder = new CKFinder();
                finder.selectActionFunction = function(url) {
                    $("#@Html.IdFor(model => model.WhoWeAreImagePath)").val(url);
                };
                finder.popup();
            });
        var descriptionEditor = CKEDITOR.replace('@Html.IdFor(model => model.Description)',
            {
                customConfig: '/Content/ckeditor/config.js'
            });
        var informationEditor = CKEDITOR.replace('@Html.IdFor(model => model.Information)',
            {
                customConfig: '/Content/ckeditor/config.js'
            });
        var qualityEditor = CKEDITOR.replace('@Html.IdFor(model => model.Quality)',
            {
                customConfig: '/Content/ckeditor/config.js'
            });
        var serviceEditor = CKEDITOR.replace('@Html.IdFor(model => model.Service)',
            {
                customConfig: '/Content/ckeditor/config.js'
            });
        var supportEditor = CKEDITOR.replace('@Html.IdFor(model => model.Support)',
            {
                customConfig: '/Content/ckeditor/config.js'
            });
    });
</script>

