@model DataAccess.Models.CustomerModel
@using Common
@using Common.Constants;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Signin and Signup Form - Shopping Online</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Haunt Signup Form Responsive, Signup form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <link href="~/Content/Login/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/Content/Login/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:400,600,700" rel="stylesheet">
    
</head>
<body>
    <h1>Trang đăng ký và đăng nhập</h1>
    <div class="container">
        <form action="@Url.Action("Register", "Login")" method="post">
            @Html.AntiForgeryToken()
            <h2>ĐĂNG KÝ VỚI</h2>
            <div class="agile_ihj">
                <div class="w3l_f">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> <span>FACEBOOK<span></a>
                </div>
                <div class="w3_l">
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> <span class="w3_sp">LINKEDIN</span></a>
                </div>
                <div class="w3ls_t">
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> <span class="w3_sp1">TWITTER</span></a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="w3l_o">
                <div class="strip">OR</div>
            </div>
            <div class="agileinfo">
                <input type="text" name="@Html.IdFor(model => model.FirstName)" placeholder="Tên" required="">
            </div>
            <div class="agileinfo">
                <input type="text" name="@Html.IdFor(model => model.LastName)" placeholder="Họ" required="">
            </div>
            <div class="agileinfo">
                <input type="email" name="@Html.IdFor(model => model.Email)" placeholder="Email" required="">
            </div>
            <div class="agileinfo">
                <input type="text" name="@Html.IdFor(model => model.Phone)" placeholder="Số điện thoại" required="">
            </div>
            <div class="agileinfo">
                <input type="text" name="@Html.IdFor(model => model.Address)" placeholder="Địa chỉ" required="">
            </div>
            <div class="agileinfo">
                <input type="text" name="@Html.IdFor(model => model.UserName)" placeholder="Tên đăng nhập" required="">
            </div>
            <div class="agileinfo">
                <input type="Password" name="@Html.IdFor(model => model.Password)" placeholder="Mật khẩu" required="">
            </div>
            <div class="agileinfo">
                <input type="password" name="@Html.IdFor(model => model.PasswordConfirm)" placeholder="Xác nhận mật khẩu" required="">
            </div>
            <div class="w3l_tx">
                <input type="checkbox" name="" value=""><span class="w3l_chk">Tôi muốn nhận các thông tin mới</span>
            </div>
            <div class="agile_par">
                <p>Bằng cách đăng ký, tôi đồng ý với <a href="#">Điều khoản dịch vụ</a> và <a href="#">Chính sách riêng tư</a></p>
            </div>
            <div class="w3l_but">
                <button type="submit">ĐĂNG KÝ</button>
            </div>
        </form>
        <div class="wthree_down">
            <h3>Tôi đã có tài khoản đăng nhập</h3>
        </div>
        <div class="w3agile_side">
            <div class="main">
                <div class="panel">
                    <a href="#login_form" id="login_pop">ĐĂNG NHẬP</a>
                </div>
            </div>
            <!-- popup form #1 -->
            <a href="#x" class="overlay" id="login_form"></a>
            <div class="popup">
                <h2>Chào mừng</h2>
                <p>Nhập tên đăng nhập và mật khẩu vào bên dưới</p>
                <form action="@Url.Action("Login", "Login")" method="post">
                    @Html.AntiForgeryToken()
                    <div>
                        <input type="text" name="@Html.IdFor(model => model.UserName)" placeholder="Tên đăng nhập" required="">
                    </div>
                    <div>

                        <input type="password" name="@Html.IdFor(model => model.Password)" placeholder="Mật khẩu" required="">
                    </div>
                    <a href="#"><input type="submit" value="ĐĂNG NHẬP" /></a>
                    <a class="close" href="#close"></a>
                </form>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="footer">
        <p>&copy; Shopping Signup Form  2018. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="blank">W3layouts</a></p>
    </div>
</body>
</html>
