@model IEnumerable<Shopping.Models.CartItem>
@{
    ViewBag.Title = "Checkout";
}

<div class="ads-grid_shop">
    <div class="shop_inner_inf">
        <div class="privacy about">
            <h3>Chec<span>kout</span></h3>

            <div class="checkout-right">
                <h4>Your shopping cart contains: <span id="totalProduct">@Model.Count() Products</span></h4>
                <table class="timetable_sub">
                    <thead>
                    <tr>
                        <th>SL No.</th>
                        <th>Product</th>
                        <th>Quality</th>
                        <th>Product Name</th>

                        <th>Price</th>
                        <th>Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr class="rem@(Model.ElementAt(i).Product.Id)">
                            <td class="invert">@(i + 1)</td>
                            <td class="invert-image"><a href="#"><img src="../@Model.ElementAt(i).Product.ImagePath" alt=" " class="img-responsive"></a></td>
                            <td class="invert">
                                <div class="quantity">
                                    <div class="quantity-select">
                                        <div class="entry value-minus">&nbsp;</div>
                                        <div id="@Model.ElementAt(i).Product.Id" class="entry value"><span>@Model.ElementAt(i).Quantity</span></div>
                                        <div class="entry value-plus active">&nbsp;</div>
                                    </div>
                                </div>
                            </td>
                            <td class="invert">@Model.ElementAt(i).Product.Name</td>

                            <td class="invert">@string.Format("{0:#,#}", Model.ElementAt(i).Product.Price * (1 - Model.ElementAt(i).Product.Promotion) * Model.ElementAt(i).Quantity) VND</td>
                            <td class="invert">
                                <div class="rem">
                                    <div title="@(Model.ElementAt(i).Product.Id)" class="close1"> </div>
                                </div>

                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <div class="checkout-left">
                <div class="col-md-4 checkout-left-basket">
                    <a href="javascript:void(0);" onclick="history.go(-1);" style="width: 400px; display: block">Continue to basket</a>
                    <ul>
                        @foreach (var item in Model)
                        {
                            <li id="item@(item.Product.Id)">@item.Product.Name<i>-</i> <span id="totalItem@(item.Product.Id)">@string.Format("{0:#,#}", item.Product.Price * (1 - item.Product.Promotion) * item.Quantity) VND</span></li>
                        }
                        <li>Total <i>-</i> <span id="total">@string.Format("{0:#,#}", Model.Sum(item => item.Product.Price * (1 - item.Product.Promotion) * item.Quantity)) VND</span></li>
                    </ul>
                </div>
                <div class="col-md-8 address_form">
                    <h4>Add a new Details</h4>
                    <form action="@Url.Action("PaymentWithPaypal","Paypal")" method="post" class="creditly-card-form agileinfo_form">
                        <section class="creditly-wrapper wrapper">
                            <div class="information-wrapper">
                                <div class="first-row form-group">
                                    <div class="controls">
                                        <label class="control-label">Full name: </label>
                                        <input class="billing-address-name form-control" type="text" name="FullName" placeholder="Full name">
                                    </div>
                                    <div class="card_number_grids">
                                        <div class="card_number_grid_left">
                                            <div class="controls">
                                                <label class="control-label">Mobile number:</label>
                                                <input class="form-control" type="text" name="MobileNumber" placeholder="Mobile number">
                                            </div>
                                        </div>
                                        <div class="card_number_grid_right">
                                            <div class="controls">
                                                <label class="control-label">Address: </label>
                                                <input class="form-control" type="text" name="Address" placeholder="Address">
                                            </div>
                                        </div>
                                        <div class="clear"> </div>
                                    </div>
                                    <div class="controls">
                                        <label class="control-label">Street: </label>
                                        <input class="form-control" type="text" name="Street" placeholder="Street">
                                    </div>
                                </div>
                                <button type="submit" class="submit check_out">Delivery to this Address</button>
                            </div>
                        </section>
                    </form>
                    <div class="checkout-right-basket">
                        
                    </div>
                </div>

                <div class="clearfix"> </div>


                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //top products -->
    <div class="mid_slider_w3lsagile">
        <div class="col-md-3 mid_slider_text">
            <h5>Some More Shoes</h5>
        </div>
        <div class="col-md-9 mid_slider_info">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                    <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                    <li data-target="#myCarousel" data-slide-to="3" class=""></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="~/Content/web/images/g1.jpg" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="~/Content/web/images/g2.jpg" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="~/Content/web/images/g3.jpg" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="~/Content/web/images/g4.jpg" alt="Image" style="max-width:100%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="~/Content/web/images/g5.jpg" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="~/Content/web/images/g6.jpg" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="~/Content/web/images/g2.jpg" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="~/Content/web/images/g1.jpg" alt="Image" style="max-width:100%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="~/Content/web/images/g1.jpg" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="~/Content/web/images/g2.jpg" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="~/Content/web/images/g3.jpg" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="~/Content/web/images/g4.jpg" alt="Image" style="max-width:100%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="~/Content/web/images/g1.jpg" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="~/Content/web/images/g2.jpg" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="~/Content/web/images/g3.jpg" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="~/Content/web/images/g4.jpg" alt="Image" style="max-width:100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="fa fa-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="fa fa-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!-- The Modal -->

            </div>
        </div>

        <div class="clearfix"> </div>
    </div>
</div>
<!--quantity-->
<script>
    $('.value-plus').on('click', function () {
        var divUpd = $(this).parent().find('.value'),
            newVal = parseInt(divUpd.text(), 10) + 1;
        var productId = divUpd.attr('id');
        $.post('/Cart/UpdateQuantity', { productId: productId, quantity: 1 },
            function (returnedData) {
                if (returnedData.status == true) {
                    divUpd.text(newVal);
                    $("#totalItem" + productId).text(returnedData.amount + "VND");
                    $("#total").text(returnedData.amountTotal + "VND");
                }
                
            });
    });
    $('.value-minus').on('click', function () {
        var divUpd = $(this).parent().find('.value'),
            newVal = parseInt(divUpd.text(), 10) - 1;
        var productId = divUpd.attr('id');
        $.post('/Cart/UpdateQuantity', { productId: productId, quantity: -1 },
            function (returnedData) {
                if (returnedData.status == true) {
                    divUpd.text(newVal);
                    $("#totalItem" + productId).text(returnedData.amount + "VND");
                    $("#total").text(returnedData.amountTotal + "VND");
                }
            });
    });
</script>
<!--quantity-->
<script>
    $(document).ready(function (c) {
        $('.close1').on('click', function (c) {
            var productId = $(this).attr('title');
            $.post('/Cart/DeleteProduct', { productId: productId},
                function (returnedData) {
                    if (returnedData.status == true) {
                        $("#item" + productId).remove();
                        $("#total").text(returnedData.amountTotal + "VND");
                        $("#totalProduct").text(returnedData.totalProduct + " Products")
                        $('.rem' + productId).fadeOut('slow', function (c) {
                            $('.rem' + productId).remove();
                        });
                    }
                });
        });
    });
</script>
